@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: background-color .5s ease;
    z-index: 1;

    &--is-hidden {
        background-color: transparent;
        transition: background-color .5s ease;

        .header {
            &__logo, &_links__item:first-child {
                opacity: 0;
                visibility: hidden;
            }
        }.plans {
    padding: 5.6vw ;

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 50px ;

        @media (max-width: 768px) {
            display: block;


            .buttom {
                margin-top: 24px;
            }
        }

        &__item {
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100% ;

            &:nth-child(2) {
                background-image: url('/src/images/fundo_combo_plus.png');
                background-repeat: no-repeat;
                background-size: contain;
            }

            img {
                height: 83px;
            }
        }

            strong {
                display: block;
                margin-top: 24px;
            }
    }

    P {
        text-align: center;
    }
} 

        .header__logo {
            opacity: 0;
        }

        .header__link__item:first-child {
            opacity: 0;
            transition: opacity .5s ease;
        }

    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;


        @media (max-width: 768px) {
            padding: 0 12px 0 20px;
        }

    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;


        @media (max-width: 768px) {
            max-width: 64px;
        }

    }

    &__links {
        display: flex;

        &__item {
            margin: 5px;
            transition: opacity .5s ease;
        }
    }

    .button {
        height: 50px;

        @media (max-width: 768px) {
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}